.showResults .container {
    text-align: center;
}

.cards {
    width: 300px;
    height: 300px;
}

.card li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editData {
    text-decoration: underline;
    cursor: pointer;
}