.inactive, .menu__navbar, .darkmode {
    display: none;
}

.container {
    max-width: 1200px;
    min-height: 85px;
    margin: 0 auto;
    padding: 1.5rem;
}

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu__navbar.active, .darkmode.active {
    display: flex;
}

.menu__overview__icons {
    font-size: 3.2rem;
    text-align: right;
    width: 50%;
}

.companies {
    padding: 1.5rem;
}

.companies .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.companies ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 10px;
}