@media (min-width: 345px) and (max-width: 599px) {
    .menu__overview__icons {
        width: 70%;
    }
}

@media (min-width: 600px) {
    .menu__overview__icons {
        display: none;
    }

    .menu__navbar, .darkmode {
        display: flex;
    }
}