@media (min-width: 600px) {
    .menu__overview__icons {
        display: none;
    }

    .menu__navbar, .darkmode {
        display: flex;
    }

    .companies ul {
        grid-template-columns: repeat(3, 1fr);
    }
}